
{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}

<div class="container mt-5">
    <h2>{{ movie.title|default:"Add New Movie" }}</h2>
    <form method="POST" {% if movie %} action="{% url 'add_edit_movie' movie.id %}" {% else %} action="{% url 'add_edit_movie' %}" {% endif %}>
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" value="{{ movie.title|default:'' }}" class="form-control" id="title" required>
        </div>
        <div class="form-group">
            <label for="poster_url">Poster URL</label>
            <input type="url" name="poster_url" value="{{ movie.poster_url|default:'' }}" class="form-control" id="poster_url">
        </div>
        <div class="form-group">
            <label for="trailer_url">Trailer URL</label>
            <input type="url" name="trailer_url" value="{{ movie.trailer_url|default:'' }}" class="form-control" id="trailer_url">
        </div>
        <div class="form-group">
            <label for="actors">Actors</label>
            <input type="text" name="actors" value="{{ movie.actors|default:'' }}" class="form-control" id="actors">
        </div>
        <div class="form-group">
            <label for="release_date">Release Date</label>
            <input type="date" name="release_date" value="{{ movie.release_date|date:'Y-m-d' }}" class="form-control" id="release_date">
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="number" name="rating" value="{{ movie.rating|default:'' }}" class="form-control" id="rating" step="0.1">
        </div>
        <div class="form-group">
            <label for="poster_path">Poster Path</label>
            <input type="text" name="poster_path" value="{{ movie.poster_path|default:'' }}" class="form-control" id="poster_path">
        </div>
        <div class="form-check">
            <input type="checkbox" name="adult" class="form-check-input" id="adult" {% if movie.adult %}checked{% endif %}>
            <label for="adult" class="form-check-label">Adult</label>
        </div>
        <div class="form-group">
            <label for="budget">Budget</label>
            <input type="number" name="budget" value="{{ movie.budget|default:'' }}" class="form-control" id="budget" step="0.01">
        </div>
        <div class="form-group">
            <label for="homepage">Homepage</label>
            <input type="url" name="homepage" value="{{ movie.homepage|default:'' }}" class="form-control" id="homepage">
        </div>
        <div class="form-group">
            <label for="imdb_id">IMDB ID</label>
            <input type="text" name="imdb_id" value="{{ movie.imdb_id|default:'' }}" class="form-control" id="imdb_id">
        </div>
        <div class="form-group">
            <label for="popularity">Popularity</label>
            <input type="number" name="popularity" value="{{ movie.popularity|default:'' }}" class="form-control" id="popularity" step="0.01">
        </div>
        <div class="form-group">
            <label for="revenue">Revenue</label>
            <input type="number" name="revenue" value="{{ movie.revenue|default:'' }}" class="form-control" id="revenue" step="0.01">
        </div>
        <div class="form-group">
            <label for="runtime">Runtime</label>
            <input type="number" name="runtime" value="{{ movie.runtime|default:'' }}" class="form-control" id="runtime">
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <input type="text" name="status" value="{{ movie.status|default:'' }}" class="form-control" id="status">
        </div>
        <div class="form-group">
            <label for="tagline">Tagline</label>
            <input type="text" name="tagline" value="{{ movie.tagline|default:'' }}" class="form-control" id="tagline">
        </div>
        <div class="form-group">
            <label for="vote_count">Vote Count</label>
            <input type="number" name="vote_count" value="{{ movie.vote_count|default:'' }}" class="form-control" id="vote_count" step="0.01">
        </div>
        <div class="form-group">
            <label for="vote_average">Vote Average</label>
            <input type="number" name="vote_average" value="{{ movie.vote_average|default:'' }}" class="form-control" id="vote_average" step="0.01">
        </div>
        <div class="form-group">
            <label for="genres">Genres</label>
            <select multiple class="form-control" name="genres" id="genres">
                {% for genre in genres %}
                <option value="{{ genre.id }}" {% if genre in movie.genres.all %}selected{% endif %}>{{ genre.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="tag">Tag</label>
            <select name="tag" class="form-control" id="tag">
                {% for key, value in MOVIE_TAG %}
                <option value="{{ key }}" {% if movie and movie.tag == key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">{% if movie %}Update{% else %}Add{% endif %} Movie</button>
    </form>
</div>




{% endblock %}