{% load static %}

<html lang="en" class="no-js">

<!-- password pattern  pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" -->
<!--  email pattern   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" -->

<head>
	<!-- Basic need -->
	<title>Movie Recommendation</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
        input.lowercase {
            text-transform: lowercase;
        }
</style>

</head>
<body>
<!--preloading-->
<!-- <div id="preloader">
    <img class="logo" src="images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div> -->
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <div id="loginform">
        	<div class="row">
        		 <label for="username">
                    Username:
                    <input type="text" name="username" id="login_username" placeholder=" " required="required" />
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    Password:
                    <input type="password" name="password" id="login_password" placeholder=" "  required="required" />
                </label>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
					</div>
            		<a href="#">Forget password ?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="button" onclick="user_login(this);">Login</button>
           </div>
        </div>
        <div class="row">
        	<p class="text-center">Or</p>
            <div class="social-btn-2">
            	<button class="button" onclick="get_singupform(this);">Singup Now</button>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <div  id="signupform">
            <div class="row">
                 <label for="username-2">
                    Username:
                    <input type="text" class="lowercase" name="username" id="username" placeholder=" "  required="required" pattern="^(?=.{8,}$)(?=.*[A-Z])(?=.*[a-z]).*$"  title="Username must contain both uper and lowercase letters."/>
					
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="text" class="lowercase" name="email" id="email" placeholder=""  required="required" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    Password:
                    <input type="text" class="lowercase" name="password" id="password" placeholder=""  required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="text" class="lowercase" name="password" id="repassword" placeholder=""  required="required" />
                </label>
            </div>
           <div class="row">
             <button type="button" onclick="signup(this);">sign up</button>
           </div>
		   <div class="row">
        	<p>Or</p>
            <div class="social-btn-2">
            	<button class="button" onclick="get_loginform(this);">Sigin Now</button>
            </div>
        </div>

        </div>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="index-2.html"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							Home <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							movies<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								{% for item in genres_list_context %}
								{% if item %}
								<li><a href="/search/?genre={{item.name}}">{{item.name}}</a></li>
								{% endif %}
								{% endfor %}								
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="celebritygrid01.html">celebrity grid 01</a></li>
								<li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
								<li><a href="celebritylist.html">celebrity list</a></li>
								<li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
							</ul>
						</li>
						
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<li class="dropdown first">
							
						</li>                
						
						 {% if user_session %}
						<li class="logout" onclick="logout(this);"><a href="#">LOGOUT</a></li>
						<li class="btn users"><a href="{% url 'dashboard' %}">{{user_session}}</a></li>
						{% else %}
						<li class="loginLink"><a href="#">LOG In</a></li>
						<li class="btn signupLink"><a href="#">sign up</a></li>
						{% endif %} 
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    <br>
		<p class="text-center font-bold text-white" style="font-weight: semi-bold;">MOVIE RECOMMENDATION SYSTEM</p>

	    <!-- top search form -->
		<form method="GET" action="{% url 'search' %}">
			<div class="top-search">
				<input type="text" name="query" placeholder="Search for a movie, TV Show or celebrity...">
			</div>
		</form>
		

		
</header>
<!-- END | Header -->

{% block content %}

{% endblock %}

<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index-2.html"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""></a>
				 <p>QFX<br>
				Bharatpur, Chitwan Nepal</p>
				<p>Call us: <a href="#">(+05) 98 98 989898</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li> 
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li> 
					<li><a href="#">Privacy Policy</a></li>	
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li> 
					<li><a href="#">Watchlist</a></li>	
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2024 Blockbuster. All Rights Reserved. Designed by Swostika.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

<!-- Mirrored from busterhtml.mbkip3ms9u-e92498n216kr.p.temp-site.link/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jun 2024 09:03:55 GMT -->
</html>

 <script>

 function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

async function signup(event){
	username = $('#username').val().toLowerCase();
	email = $('#email').val().toLowerCase();
	password=  $('#password').val().toLowerCase();
	repassword = $('#repassword').val().toLowerCase();
	const csrftoken = getCookie('csrftoken'); // Function to get CSRF token from cookies
	if(password != repassword){
		alert('your password is not match');
		return;
	}
	var data = {
		"username": username,
		"password": password,
		"email": email
	};
	const response = await fetch('/users/register/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		},
		body: JSON.stringify(data)
	});
	if (response.ok) {
            const jsonResponse = await response.json();
            console.log('Registration successful:', jsonResponse);
			// this will close the signup form
			var overlay = $(".overlay");
			overlay.removeClass("openform");
			// this will open the sign form 
			var overlay = $(".overlay");
			var loginct = $( "#login-content" );
			loginct.parents(overlay).addClass("openform");

        } else {
            const errorResponse = await response.json();
			// console.error('Registration failed:', errorResponse);
            alert(errorResponse[0]);
        }

}


async function user_login(event){
	username = $('#login_username').val().toLowerCase();
	password=  $('#login_password').val().toLowerCase();
	const csrftoken = getCookie('csrftoken'); // Function to get CSRF token from cookies
	var data = {
		"username": username,
		"password": password,
		"email": email
	};
	const response = await fetch('/users/login/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		},
		body: JSON.stringify(data)
	});
	if (response.ok) {
            const jsonResponse = await response.json();
			localStorage.setItem('is_user_logined',true);
            console.log('Login successful:', jsonResponse);
			// this will close the login form
			var overlay = $(".overlay");
			overlay.removeClass("openform");
			alert('Login is successfully');
			location.reload();  // Reload the page on successful login

        } else {
            const errorResponse = await response.json();
            console.error('Registration failed:', errorResponse);
        }

} 

async function logout(event){
	localStorage.removeItem('is_user_logined');
	const csrftoken = getCookie('csrftoken');
	const response = await fetch('/users/logout/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		},
		body: JSON.stringify({})
	});
	alert('Logout is successfully');
	location.reload();  // Reload the page on successful login

	
}

function get_singupform(event){
	// this will close the login form
	var overlay = $(".overlay");
	overlay.removeClass("openform");
	// now open singup form 
	var signupLink = $(".signupLink");
	var signupct= $("#signup-content");
	signupct.parents(overlay).addClass("openform");

}

function get_loginform(event){
	// this will close the signup form
	var overlay = $(".overlay");
	overlay.removeClass("openform");
	// this will open the sign form 
	var overlay = $(".overlay");
	var loginct = $( "#login-content" );
	loginct.parents(overlay).addClass("openform");

}

</script> 

<script>
	async function check_login(){
		// check local storage to see whether user is loged in or not
		var data = localStorage.getItem('is_user_logined');
		if (!data){
			// call api to check user session is exists or not
			const csrftoken = getCookie('csrftoken'); 
			const response = await fetch('/users/check_user_session/', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'X-CSRFToken': csrftoken
				},
				body: JSON.stringify({})
			});
			if (response.ok) {
				const jsonResponse = await response.json();
				
				if (jsonResponse['status']){
					// add to local storage and close login form if exists
					localStorage.setItem('is_user_logined',true);
					// this will close the login form
					var overlay = $(".overlay");
					overlay.removeClass("openform");
				}
				else{

					localStorage.removeItem('is_user_logined');
					// this will open the sign form 
					var overlay = $(".overlay");
					var loginct = $( "#login-content" );
					loginct.parents(overlay).addClass("openform");
				}

			}
		}
	}


	$(document).ready(function(){
		// Call the async function using an IIFE
		(async function() {
                await check_login();
        })();
	})
</script>
{% block js %}

{% endblock %}
