{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="hero mv-single-hero" style=" height: 278px "></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{movie.poster_url}}" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" onclick="watch_movie(this);" trailer_url = '{{movie.trailer_url}}' class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							
							{% if movie.trailer_url %}
								{% with movie.trailer_url|slice:"32:" as video_id %}
									<div>
										<a onclick="watch_movie(this);" movie_id="{{ movie.id }}" href="https://www.youtube.com/embed/{{ video_id }}" class="item item-2 redbtn fancybox-media hvr-grow">
											<i onclick="watch_movie(this);" class="ion-play"></i>
										</a>
									</div>
								{% endwith %}
							{% else %}
							<div><a onclick="watch_movie(this);" movie_id="{{movie.id}}"  href="https://www.youtube.com/embed/Z0Qw_Nz_GaU" class="item item-2 redbtn fancybox-media hvr-grow"><i onclick="watch_movie(this);" class="ion-play"></i></a></div>
							{% endif %}
						</div>
						<!-- <div class="btn-transform transform-vertical">
							<div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
							<div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{movie.title}} <span>{{movie.release_date}}</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{movie.rating}}</span> /10<br>
								<span class="rv">56 Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
                                            <!-- description of movie-->
						            		<p>{{movie.title}}</p>
						            		
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image11.jpg" ><img src="images/uploads/image1.jpg" alt=""></a>
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image21.jpg" ><img src="images/uploads/image2.jpg" alt=""></a>
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image31.jpg" ><img src="images/uploads/image3.jpg" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/image4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
											</div>
											
											<!-- movie cast -->
											
											
											<!-- movie user review -->
											
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Actors: </h6>
						            			<p><a href="#">{{movie.actors}}</a> <a href="#">Chris Evans,</a> <a href="#">Mark Ruffalo,</a><a href="#"> Scarlett Johansson</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>
                                                    {% for genre in movie.genres.all %}
                                                        <a href="#">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                </p>
                                                
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{movie.release_date}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{movie.runtime}} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>MMPA Rating:</h6>
						            			<p>{{movie.rating}}</p>
						            		</div>
						            		
						            	</div>
						            </div>
						        </div>
								
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Related Movies To</h3>
						       	 				<h2>{{movie.title}}</h2>
							            	</div>
                                           
						            	</div>
                                        <div>
                                             <!--custom code for write review -->
                                            <div class="mb-3" style="width: 100%; max-width: 800px; margin: 30px auto; background-color: #f9f9f9; border-radius: 15px; padding: 20px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); ">
												<textarea class="form-control" id="user_review" placeholder="Write your thoughts..." rows="5"></textarea>
                                            </div>
                                            <div class="mb-3" style=" margin: 5px; padding-top: 10px; padding-bottom: 25px; width: 100px;">
                                                <input min="1" max="10" value="8" type="number" class="form-control" id="user_rating" placeholder="ratings" >
                                            </div>
                                           
                                            <a href="#" movie_id="{{movie.id}}" onclick="post_review(this);" class="redbtn">Write Review</a>
                                          <!--custom code end -->
                                        
                                        </div>
										<div id="all_reviews">
											<div class="topbar-filter" style="margin-top: 25px;">
												<p>Found <span>{{total_review}} reviews</span> in total</p>
											</div>
											{% for item in reviews %}
											<div class="mv-user-review-item">
												<div class="user-infor">
													<img src="{% static 'images/uploads/userava1.jpg' %}" alt="">
													<div>
														<h3>{{item.user.username}}</h3>
														<p>rating : {{item.rating}}/10</p>
														<p class="time">
															{{item.created_at|date:"F j, Y, g:i a"}} by <a href="#"> {{user.username}}</a>
														</p>
													</div>
												</div>
												<p>{{item.review}}</p>
											</div>
											{% endfor %}
										</div>
									
										<!-- <div class="topbar-filter">
											<label>Reviews per page:</label>
											<select>
												<option value="range">5 Reviews</option>
												<option value="saab">10 Reviews</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 6:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div> -->
						            </div>
						        </div>

						     
					       	 	
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2>{{movie.title}}</h2>
					       	 			{% for m in related_movies %}
										<div class="movie-item-style-2">
											<img src="{{m.poster_url}}" alt="">
											<div class="mv-item-infor">
												<h6><a href="{% url 'movie' id=m.id %}">{{m.title}} <span>({{m.release_date}})</span></a></h6>
												<p> Genres : 
                                                    {% for genre in m.genres.all %}
                                                        <a href="#">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                <p class="rate"><i class="ion-android-star"></i><span>{{m.rating}}</span> /10</p>
												<p class="run-time"> Run Time: {{m.runtime}} min’    .     <span>MMPA: PG-13 </span>    .     <span>Release: {{m.release_date}}</span></p>
												<p>Stars: <a href="#">{{m.actors}}</a> </p>
											</div>
										</div>
                                        {% endfor %}
										
									
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

<script>
async function post_review(event){
	const csrftoken = getCookie('csrftoken');
	const content_id = 'all_reviews';
	var review = $('#user_review').val();
	var rating = $('#user_rating').val();
	var movie = $(event).attr('movie_id');
	var data = {
		'review': review,
		'rating': rating,
		'movie': movie
	}
	const response = await fetch('/review/write_review/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		},
		body: JSON.stringify(data)
	});
	if (response.ok) {
		const jsonResponse = await response.json();
		$('#'+content_id).empty();
		$('#'+content_id).html(jsonResponse['html']);
	}
}

async function watch_movie(event){
	console.log('user watching movie ');
	const csrftoken = getCookie('csrftoken');
	var movie = $(event).attr('movie_id');
	var data = {
		'movie': movie
	}
	const response = await fetch('/review/watch_movie/', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			'X-CSRFToken': csrftoken
		},
		body: JSON.stringify(data)
	});
	if (response.ok) {
		const jsonResponse = await response.json();
		console.log(jsonResponse);
	}
}

</script>

{% endblock %}