{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h1>Search Results for "{{ query }}"</h1>

    {% if search_results %}
        <div class="search-results">
            {% for movie in search_results %}
                <div class="movie-item">
                    <h3>{{ movie.title }}</h3>
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" width="100">
                    <p>Popularity: {{ movie.popularity }}</p>
                    <iframe class="item-video" src="{{ movie.trailer_url }}" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
